* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #0d1117;
}
#main {
  width: 100%;
  height: 100%;
  background-color: #0d1117;
  position: relative;
  padding-top: 0.11px;
  color: rgb(246, 246, 246);
}
#nav {
  border-bottom: rgb(246, 246, 246) solid 1px;
  border-top: rgb(246, 246, 246) solid 1px;
  height: 10vh;
  width: 100%;
  /* background-color: red; */
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav h2 {
  font-size: 1vw;
  font-weight: 300;
  border-left: rgb(246, 246, 246) solid 1px;
  height: 100%;
  width: 20%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav h2:nth-last-child(1) {
  /* background-color: blue; */
  width: 18%;
  justify-content: start;
  padding-left: 3vw;
}

#nav h1 {
  font-family: monument;
  font-size: 1.8vw;
  letter-spacing: -0.1vw;
  height: 100%;
  width: 25%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#nav h1::after {
  position: absolute;
  content: "©";
  font-size: 1.1vw;
  font-weight: 300;
  font-family: roboto;
  top: 25%;
  left: 70%;
}
#nav h1::before {
  position: absolute;
  content: "artist management";
  font-size: 0.8vw;
  letter-spacing: 0.01vw;
  font-weight: 300;
  font-family: roboto;
  top: 61%;
  left: 41%;
  color: rgb(203, 203, 203);
}
#center {
  width: 100%;
  height: 84%;
  padding: 3vw 7vw;
  position: relative;
  /* background-color: red; */
}
#content {
  height: 100%;
  width: 100%;
  position: relative;
  /* background-color: blue; */
}
#content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#overlay {
  position: absolute;
  top: 43%;
  padding: 3vw;
  height: 50%;
  width: 100%;
  /* background-color: blue; */
}
#over1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#over1 h1 {
  font-family: monument;
  font-size: 3vw;
  padding-bottom: 30px;
}
#over1 h2 {
  align-self: start;
  font-size: 1vw;
  font-weight: 400;
  /* background-color: yellowgreen; */
  padding: 2vw 2vw;
  border-radius: 50%;
  border: 1px rgb(246, 246, 246) solid;
  border-right: 3px rgb(246, 246, 246) solid;
}
#over2 {
  padding-top: 1vw;
  border-top: 1px rgb(246, 246, 246) solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #fff; */
}
#over2 h2 {
  font-size: 0.9vw;
  font-weight: 400;
}
#over2 img {
  font-weight: 100;
  height: 4vw;
  width: 4vw;
}

#scroll {
  height: 40vh;
  width: 100%;
  /* background-color: red; */
  padding: 2px;
  position: relative;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
#container {
  height: 100%;
  width: fit-content;
  /* background-color: blue; */
  display: inline-block;
  padding: 2vw;
  animation: anima;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#scroll img {
  object-fit: cover;
  height: 75%;
  width: 12%;
  border-radius: 55%;
  margin: 1.3vw;
  /* display: none; */
}
#alphabets {
  position: relative;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8vw;
  /* background-color: red; */
  border-bottom: 1px solid rgb(246, 246, 246);
  border-top: 1px solid rgb(246, 246, 246);
}
#alphabets h4 {
  font-size: 1.8vw;
  font-weight: 300;
  font-style: italic;
  border-bottom: rgb(246, 246, 246) solid 1.5px;
  /* background-color: rebeccapurple; */
  margin-right: 1vw;
}
#alphabets h5 {
  font-size: 0.8vw;
  font-weight: 300;
  font-style: italic;
  padding: 8px 11px;
  /* background-color: brown; */
  border-radius: 50%;
  border: rgba(246, 246, 246, 0) solid 1px;
  cursor: pointer;
  transition: all ease 0.2s;
}
#alphabets h5:hover {
  border: rgb(246, 246, 246) solid 1px;
}

#page2 {
  height: 120%;
  width: 100%;
  display: flex;
  position: relative;
  padding: 3vw 7vw;
  padding-bottom: 0vw;
  justify-content: space-between;
}
#left {
  width: 55%;
  height: 100%;
  /* background-color: red; */
  position: relative;
}
#left img {
  height: 90%;
  width: 100%;
  object-fit: cover;
}
#left h2 {
  font-family: monument;
  letter-spacing: 2px;
  font-size: 6vh;
  margin-top: 1vh;
}

#right {
  height: 100%;
  width: 40%;
  /* background-color: blue; */
  position: relative;
}

#right img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}
#rightbottom {
  display: flex;
  gap: 5vw;
  padding-top: 2vh;
}
#rightbottom h2 {
  /* background-color: brown; */
  width: 100%;
  font-size: 1.7vw;
  font-weight: 400;
}
#rightbottom h3 {
  height: 20%;
  width: 100%;
  font-size: 0.8vw;
  font-weight: 200;
}
#page3 {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  padding: 3vw 7vw;
  justify-content: space-between;
  /* background-color: aqua; */
}
#pg3right {
  position: relative;
  width: 55%;
  height: 100%;
  /* background-color: red; */
}
#pg3right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#pg3left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5vw;
  width: 35%;
  height: 100%;
  /* background-color: rebeccapurple; */
}
#pg3-right-bottom h2 {
  font-size: 2vw;
  font-weight: 300;
  padding: 0vw 2vw;
}
#page4 {
  position: relative;
  height: 100%;
  width: 100%;
}
#page4 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 3vw 7vw;
}

@keyframes anima {
  form {
    transform: translate(0%);
  }
  to {
    transform: translate(-100%);
  }
}

.circular-text {
  position: relative;
  width: 15vw;
  height: 20vw;
  margin: 50px auto;
}

.circular-text svg {
  transform: rotate(0deg);
  width: 100%;
  height: 100%;
  animation: rotate 10s linear infinite;
}

.circular-text text {
  font-size: 1vw;
  text-transform: uppercase;
  letter-spacing: 1px;
  fill: rgb(246, 246, 246);
}

.center-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  font-weight: 100;
  color: rgb(246, 246, 246);
}

/* Rotation animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#page5 {
  height: 100%;
  width: 100%;
  /* background-color: #fff; */
  position: relative;
  padding: 2vw 4vw;
}

#page5 h1 {
  font-family: monument;
  text-align: center;
  text-transform: uppercase;
  font-size: 3vw;
  margin-bottom: 2vw;
}

.elem {
  position: relative;
  border-top: 1px solid rgb(246, 246, 246);
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
  text-transform: uppercase;
}
.elem:nth-last-child(1) {
  border-bottom: 1px solid rgb(246, 246, 246);
}
.elem h2 {
  font-size: 1vw;
  width: 8%;
  font-weight: 300;
  text-transform: uppercase;
}
.artist-name {
  justify-content: left;
  width: 40%;
  /* background-color: #fff; */
}
.artist-name h3 {
  /* font-family: "Roboto"; */
  font-size: 1.3vw;
  font-weight: 400;
  margin-bottom: 0.2vw;
  text-transform: capitalize;
}
.artist-name h4 {
  /* font-family: "Roboto"; */
  font-weight: 300;
  font-size: 0.8vw;
  text-transform: uppercase;
}
.elem img {
  position: absolute;
  left: 20%;
  opacity: 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  transition: all ease 0.7s;
}

.elem:nth-last-child(5) img {
  left: 40%;
}
.elem:nth-last-child(1) img {
  left: 40%;
}

.elem:nth-last-child(3) img {
  left: 40%;
}
.elem:hover img {
  opacity: 1;
  left: 30%;
}
#page6 {
  /* background-color: #fff; */
  width: 100%;
  height: 100%;
  display: flex;
  padding: 3vw 7vw;
  position: relative;
}
#pg6left {
  margin-right: 3vw;
  height: 100%;
  width: 50%;
  /* background-color: aqua; */
}

#pg6right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#pg6left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

#pg6top-text {
  flex-shrink: 0;
}
#pg6right h1 {
  font-family: monument;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1vw;
}
#pg6right h2 {
  width: 50%;
  font-weight: 300;
  font-size: 1.5vw;
  margin-bottom: 1vw;
}
#pg6right p {
  font-family: "Roboto";
  margin-bottom: 4vw;
  font-weight: 50;
}
#pg6bottom {
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

#pg6bottom img {
  object-position: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#e1 {
  display: flex;
  width: 55%;
  height: 100%;
}
#e2 {
  display: flex;
  width: 40%;
  height: 100%;
}

#page7 {
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 3vw 7vw;
}
#page7 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#page8 {
  height: 120%;
  width: 100%;
  display: flex;
  position: relative;
  padding: 3vw 7vw;
  padding-bottom: 0vw;
  justify-content: space-between;
}
#pg8left {
  width: 55%;
  height: 100%;
  /* background-color: red; */
  position: relative;
}
#pg8left img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
#pg8left h2 {
  font-family: monument;
  letter-spacing: 2px;
  font-size: 6vh;
  margin-top: 1vh;
}

#pg8right {
  height: 100%;
  width: 40%;
  /* background-color: blue; */
  position: relative;
}

#pg8right img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}
#pg8rightbottom {
  display: flex;
  gap: 5vw;
  padding-top: 2vh;
}
#pg8rightbottom h2 {
  /* background-color: brown; */
  width: 100%;
  font-size: 1.7vw;
  font-weight: 400;
}
#pg8rightbottom h3 {
  height: 20%;
  width: 100%;
  font-size: 0.8vw;
  font-weight: 200;
}
#marque {
  height: 10vh;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  /* background-color: red; */
  padding: 2vw;
  border-bottom: 1px solid rgb(246, 246, 246);
  border-top: 1px solid rgb(246, 246, 246);
  display: flex;
  align-items: center;
  justify-content: center;
}
#marque h1 {
  letter-spacing: 3px;
  margin-right: 14px;
  /* background-color: blue; */
  display: inline-block;
  font-family: monument;
  font-size: 2.5vw;
  text-transform: uppercase;
  -webkit-text-stroke: 1px rgb(246, 246, 246);
  color: transparent;
  animation-name: animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes animation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100% - 18px));
  }
}

#page9 {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer {
  /* background-color: red; */
  display: flex;
  height: 30vh;
  width: 100%;
  border-top: 1px solid rgb(246, 246, 246);
  border-bottom: 1px solid rgb(246, 246, 246);
}
#first {
  align-items: flex-start;
  width: 30%;
  /* border-right: 1px solid rgb(246, 246, 246); */
}
#first h1 {
  font-size: 2.2vw;
  font-family: monument;
  margin-left: 7vw;
  margin-top: 1vw;
  position: relative;
}
#first h1::after {
  position: absolute;
  content: "©";
  font-size: 1.3vw;
  font-weight: 300;
  font-family: roboto;
  top: 0.1%;
  left: 54%;
}
#first h1::before {
  position: absolute;
  content: "artist management";
  font-size: 1vw;
  letter-spacing: 0.01vw;
  font-weight: 300;
  font-family: roboto;
  top: 75%;
  left: 15.4%;
  color: rgb(203, 203, 203);
}
#second {
  display: flex;
  justify-content: center;
  width: 10%;
  border-right: 1px solid rgb(246, 246, 246);
}
#second h4 {
  font-weight: 300;
  font-size: 1.2vw;
  margin-top: 1.5vw;
}
#third {
  display: flex;
  justify-content: center;
  width: 20%;
  border-right: 1px solid rgb(246, 246, 246);
}
#third h4 {
  font-weight: 300;
  font-size: 1.2vw;
  margin-top: 1.5vw;
}
#fourth {
  width: 40%;
  display: flex;
  flex-direction: column;
}
#fourth-top {
  display: flex;
  padding-bottom: 2vw;
  border-bottom: 1px solid rgb(246, 246, 246);
  /* background-color: #fff; */
}
#fourth-top h4 {
  margin-left: 3vw;
  font-weight: 300;
  font-size: 1.2vw;
  margin-top: 1.5vw;
}

#fourth-bottom {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
}
#icons {
  display: flex;
  padding: 0 3vw;
  margin-top: 1vw;
}
#icons h4 {
  font-weight: 300;
  font-size: 1.2vw;
  margin-right: 2vw;
}
#fourth-bottom p {
  font-weight: 100;
  font-size: 1vw;
  line-height: 1.3vw;
  padding: 0 3vw;
  margin-top: 1vw;
}
