* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #0d1117;
}
#main {
  width: 100%;
  height: 100%;
  background-color: #0d1117;
  position: relative;
  padding-top: 0.11px;
  color: rgb(246, 246, 246);
}
#nav {
  border-bottom: rgb(246, 246, 246) solid 1px;
  border-top: rgb(246, 246, 246) solid 1px;
  height: 10vh;
  width: 100%;
  /* background-color: red; */
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav h2 {
  font-size: 1vw;
  font-weight: 300;
  border-left: rgb(246, 246, 246) solid 1px;
  height: 100%;
  width: 20%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav h2:nth-last-child(1) {
  /* background-color: blue; */
  width: 18%;
  justify-content: start;
  padding-left: 3vw;
}

#nav h1 {
  font-family: monument;
  font-size: 1.8vw;
  letter-spacing: -0.1vw;
  height: 100%;
  width: 25%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#center {
  width: 100%;
  height: 84%;
  padding: 3vw 7vw;
  position: relative;
  /* background-color: red; */
}
#content {
  height: 100%;
  width: 100%;
  position: relative;
  /* background-color: blue; */
}
#content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#overlay {
  position: absolute;
  top: 43%;
  padding: 3vw;
  height: 50%;
  width: 100%;
  /* background-color: blue; */
}
#over1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#over1 h1 {
  font-family: monument;
  font-size: 3vw;
  padding-bottom: 30px;
}
#over1 h2 {
  align-self: start;
  font-size: 1vw;
  font-weight: 400;
  /* background-color: yellowgreen; */
  padding: 2vw 2vw;
  border-radius: 50%;
  border: 1px rgb(246, 246, 246) solid;
  border-right: 3px rgb(246, 246, 246) solid;
}
#over2 {
  padding-top: 1vw;
  border-top: 1px rgb(246, 246, 246) solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #fff; */
}
#over2 h2 {
  font-size: 0.9vw;
  font-weight: 400;
}
#over2 img {
  font-weight: 100;
  height: 4vw;
  width: 4vw;
}

#scroll {
  height: 40vh;
  width: 100%;
  /* background-color: red; */
  padding: 2px;
  position: relative;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
#container {
  height: 100%;
  width: fit-content;
  /* background-color: blue; */
  display: inline-block;
  padding: 2vw;
  animation: anima;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#scroll img {
  object-fit: cover;
  height: 75%;
  width: 12%;
  border-radius: 55%;
  margin: 1.3vw;
  /* display: none; */
}
#alphabets {
  position: relative;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8vw;
  /* background-color: red; */
  border-bottom: 1px solid rgb(246, 246, 246);
  border-top: 1px solid rgb(246, 246, 246);
}
#alphabets h4 {
  font-size: 1.8vw;
  font-weight: 300;
  font-style: italic;
  border-bottom: rgb(246, 246, 246) solid 1.5px;
  /* background-color: rebeccapurple; */
  margin-right: 1vw;
}
#alphabets h5 {
  font-size: 0.8vw;
  font-weight: 300;
  font-style: italic;
  padding: 8px 11px;
  /* background-color: brown; */
  border-radius: 50%;
  border: rgba(246, 246, 246, 0) solid 1px;
  cursor: pointer;
  transition: all ease 0.2s;
}
#alphabets h5:hover {
  border: rgb(246, 246, 246) solid 1px;
}

#page2 {
  height: 120%;
  width: 100%;
  display: flex;
  position: relative;
  padding: 3vw 7vw;
  padding-bottom: 0vw;
  justify-content: space-between;
}
#left {
  width: 55%;
  height: 100%;
  /* background-color: red; */
  position: relative;
}
#left img {
  height: 90%;
  width: 100%;
  object-fit: cover;
}
#left h2 {
  font-family: monument;
  letter-spacing: 2px;
  font-size: 6vh;
  margin-top: 1vh;
}

#right {
  height: 100%;
  width: 40%;
  /* background-color: blue; */
  position: relative;
}

#right img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}
#rightbottom {
  display: flex;
  gap: 5vw;
  padding-top: 2vh;
}
#rightbottom h2 {
  /* background-color: brown; */
  width: 100%;
  font-size: 1.7vw;
  font-weight: 400;
}
#rightbottom h3 {
  height: 20%;
  width: 100%;
  font-size: 0.8vw;
  font-weight: 200;
}
#page3 {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  padding: 3vw 7vw;
  justify-content: space-between;
  /* background-color: aqua; */
}
#pg3right {
  position: relative;
  width: 55%;
  height: 100%;
  /* background-color: red; */
}
#pg3right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#pg3left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5vw;
  width: 35%;
  height: 100%;
  /* background-color: rebeccapurple; */
}
#pg3-right-bottom h2 {
  font-size: 2vw;
  font-weight: 300;
  padding: 0vw 2vw;
}
#page4 {
  position: relative;
  height: 100%;
  width: 100%;
}
#page4 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 3vw 7vw;
}

@keyframes anima {
  form {
    transform: translate(0%);
  }
  to {
    transform: translate(-100%);
  }
}

.circular-text {
  position: relative;
  width: 15vw;
  height: 20vw;
  margin: 50px auto;
}

.circular-text svg {
  transform: rotate(0deg);
  width: 100%;
  height: 100%;
  animation: rotate 10s linear infinite;
}

.circular-text text {
  font-size: 1vw;
  text-transform: uppercase;
  letter-spacing: 1px;
  fill: rgb(246, 246, 246);
}

.center-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  font-weight: 100;
  color: rgb(246, 246, 246);
}

/* Rotation animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
